@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "S V Printers";
}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-4 text-white animated slideInDown mb-3">About Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="../home">Home</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">About SV Printers</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 mb-3">
            <div class="col-lg-5 wow fadeInUp img-container" data-wow-delay="0.1s">
                <div class="img-border">
                    <img class="img-fluid" src="@Url.Content("~/img/sv-printers-brand-img.png")" alt="">
                </div>
            </div>
            <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h6 class="section-title text-start text-primary pe-3 mt-4 mt-lg-0">About SV Printers</h6>
                    <div class="section-title-line"></div>
                    <h1 class="display-6 mb-4">Trader and importer of general printers, <span class="text-primary">brochures and coated paper.</span></h1>
                    <p>SV Printers has been a cornerstone of the Indian printing industry since its inception on <b>November 1, 1969</b>. Under the leadership of <b>Mr. Vishnu Jategaonkar</b> and <b>Mrs. Mrudula Jategaonkar</b>, we have grown from a small printing operation to a renowned provider of high-quality offset printing services with over <b>57 years of experience</b>. Their vision, commitment to excellence, and deep understanding of the printing industry have shaped SV Printers into a trusted name for all printing solutions.</p>
                    <p class="mb-4">From the very beginning, Mr. Vishnu Jategaonkar and Mrs. Mrudula Jategaonkar prioritized quality, customer satisfaction, and innovation, which have become the core values of our company. Today, under their continued leadership, SV Printers has expanded its capabilities and services, serving businesses, government agencies, educational institutions, and more.</p>
                    <p class="mb-4">Our journey, spanning over five decades, has seen us continually invest in cutting-edge printing technologies and expand our service offerings. With a relentless focus on quality, we have built a loyal customer base and earned a reputation for timely deliveries and unparalleled print quality. Whether you need large-volume prints or specialized print products, SV Printers is your trusted partner for all your printing needs.</p>

                    <div class="wow fadeInUp mt-5" data-wow-delay="0.1s">
                        <div class="row">
                            <div class="col-6">
                                <div class="d-flex align-items-center mb-4 pb-2">
                                    <span><i class="fa fa-user-circle fa-5x text-primary"></i></span>
                                    <div class="ps-4">
                                        <h6 class="">Mr. Vishnu Jategaonkar</h6>
                                        <small>Managing Partner</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center mb-4 pb-2">
                                    <span><i class="fa fa-user-circle fa-5x text-primary"></i></span>
                                    <div class="ps-4">
                                        <h6>Mrs. Mrudula Jategaonkar</h6>
                                        <small>Managing Partner</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
