@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "S V Printers";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-4 text-white animated slideInDown mb-3">Why Choose Us <span class="d-none">- S V Printers</span></h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="/home">Home</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Why Choose Us - S V Printers</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Why Choose Us Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 mb-4">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h6 class="section-title bg-white text-start text-primary pe-3">Why Choose Us <span class="d-none">- S V Printers</span></h6>
                    <div class="section-title-line"></div>
                    <h1 class="display-6 mb-4">S V <span class="text-primary">Printers</span></h1>
                    <p>At SV Printers, we understand that printing is not just about transferring ink onto paper; it’s about delivering a message with precision, clarity, and impact. This is why clients across diverse industries have trusted us for over <b>57 years</b>. Whether you are a small business, educational institution, or a large corporation, we ensure that your printed materials reflect the quality and professionalism of your brand.</p>
                    <p class="mb-4">We take pride in serving <b>clients across Pune</b>, and beyond, including <b>Deenath Mangeshkar Hospital, Cosmos Bank, LIC, Symbiosis University, Sahyadri Hospital</b>, and many more. With a wide range of clients from different sectors, we have built a reputation for excellence in the printing industry.</p>

                    <p>Our stationery printing services include:</p>
                    <ul class="mb-4">
                        <li><b>8 Hospitals –</b> We work closely with top hospitals in Pune, providing them with high-quality printed materials such as brochures, medical forms, informational leaflets, and more. Hospitals trust us for printing patient education materials, health awareness documents, and other vital printed content.</li>
                        <li><b>7 Schools –</b> With a deep understanding of educational printing requirements, we support schools with their printing needs for annual reports, event brochures, yearbooks, and school stationery.</li>
                        <li><b>2 Universities –</b> Our relationship with institutions like <b>Symbiosis University</b> highlights our capability to manage large-scale printing projects, such as course materials, research publications, event brochures, and other academic documents.</li>
                        <li><b>14 Banks –</b> We serve several banks, providing them with high-quality printing for customer brochures, forms, and annual reports. Leading financial institutions like <b>Cosmos Bank</b> and <b>LIC</b> rely on our services to ensure their printed materials reflect their commitment to excellence.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp img-container" data-wow-delay="0.1s">
                <div class="img-border">
                    <img class="img-fluid" src="../img/project-8.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Why Choose Us End -->
