@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Bonds";
}

<!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-4 text-white animated slideInDown mb-3">Bonds</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="../home">Home</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Bonds</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Bonds Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 mb-3">
                <div class="col-lg-6 wow fadeInUp img-container" data-wow-delay="0.1s">
                    <div class="img-border">
                        <img class="img-fluid" src="@Url.Content("~/img/offerings/what-are-bonds.png")" alt="">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <h6 class="section-title text-start text-primary pe-3 mt-4 mt-lg-0">Bonds</h6>
                        <div class="section-title-line"></div>
                        <p>Bonds are a type of fixed-income security that investors use to earn a steady income while minimizing risk. At Ratnesh Wealth Partners, we offer a wide range of bond investment opportunities that provide both stability and predictable returns. Bonds are generally issued by governments, corporations, or municipalities, and they offer regular interest payments (also known as coupons) over a predetermined period, at the end of which the principal amount is returned to the investor.</p>
                        <p class="mb-4">Bonds are a great option for conservative investors who are looking to preserve capital while earning a fixed return. Unlike stocks, which can be volatile and subject to market fluctuations, bonds provide more stability and are typically less risky. At Ratnesh Wealth Partners, we offer various bond products, including government bonds, corporate bonds, municipal bonds, and international bonds. Our team of experts helps you identify the most suitable bond investments based on your risk tolerance, financial goals, and investment horizon.</p>
                        <p class="mb-4">Government bonds are considered one of the safest types of bonds since they are backed by the government's credit. Corporate bonds, on the other hand, offer higher returns but come with a higher level of risk. Our team helps you assess the credit rating of different bonds and the associated risks to ensure that your bond investments are aligned with your financial strategy. Bonds are ideal for investors who seek a predictable income stream and want to add a safe, low-risk component to their investment portfolio.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bonds End -->