@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Fixed Deposits (FDs)";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-4 text-white animated slideInDown mb-3">Fixed Deposits (FDs)</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="/home">Home</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Fixed Deposits (FDs)</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Fixed Deposits Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 mb-4">
            <div class="col-lg-6 wow fadeInUp img-container" data-wow-delay="0.1s">
                <div class="img-border">
                    <img class="img-fluid" src="@Url.Content("~/img/offerings/Bank-Fixed-Deposits.jpg")" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h6 class="section-title bg-white text-start text-primary pe-3 mt-4 mt-lg-0">Fixed Deposits (FDs)
                    </h6>
                    <div class="section-title-line"></div>
                    <p>Fixed deposits (FDs) are among the safest and most popular investment options in India. For
                        investors who prefer guaranteed returns and want to safeguard their principal, FDs offer a
                        secure and reliable investment avenue. At Ratnesh Wealth Partners, we offer access to a wide
                        range of FD schemes from leading banks and financial institutions. These fixed deposit products
                        come with different tenures, interest rates, and terms, enabling you to choose an option that
                        best aligns with your financial objectives.</p>
                    <p class="mb-4">One of the key benefits of fixed deposits is their ability to offer fixed interest
                        rates over a specific duration, ensuring a predictable and stable return. The returns from FDs
                        are not dependent on market performance, making them an attractive option for conservative
                        investors who prioritize safety over higher returns. Whether you are looking for a short-term
                        investment or a long-term parking of funds, fixed deposits provide a great way to preserve
                        capital while earning a consistent income stream.</p>
                    <p class="mb-4">At Ratnesh Wealth Partners, we guide you through the process of selecting the right
                        FD plan. Our team helps you evaluate factors such as the interest rate, the credibility of the
                        financial institution, and the FD's tenure to ensure that you are making an informed decision.
                        Additionally, we assist in the tax implications of FD interest and offer advice on tax-saving
                        FDs that can help you reduce your tax liability.</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fixed Deposits End -->
