@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Real Estate Investments";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-4 text-white animated slideInDown mb-3">Real Estate Investments</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="/home">Home</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Real Estate Investments</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- RealEstateInvestments Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 mb-4">
            <div class="col-lg-6 wow fadeInUp img-container" data-wow-delay="0.1s">
                <div class="img-border">
                    <img class="img-fluid" src="@Url.Content("~/img/offerings/investment-property.jpg")" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h6 class="section-title bg-white text-start text-primary pe-3 mt-4 mt-lg-0">Real Estate Investments</h6>
                    <div class="section-title-line"></div>
                    <p>Real estate investment offers the potential for strong returns and portfolio diversification. At Ratnesh Wealth Partners, we provide expert advice and access to various real estate investment opportunities. Whether you are looking to invest in residential, commercial, or industrial properties, our team of professionals helps you identify the right investment opportunities based on your financial goals.</p>
                    <p class="mb-4">Real estate is a tangible asset that has historically been a reliable source of passive income and capital appreciation. We assist you in evaluating potential properties, considering factors like location, market trends, property management, and long-term growth potential. Whether you’re a first-time investor or an experienced real estate investor, our team ensures that you make well-informed decisions to maximize your returns and minimize risk.</p>
                    <p class="mb-4">Our real estate investment services also include strategies for financing, property management, and the sale of properties when the time is right. With Ratnesh Wealth Partners, you can diversify your investment portfolio, secure stable cash flow, and leverage the power of real estate to achieve your financial goals.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- RealEstateInvestments End -->