@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Retirement Planning";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-4 text-white animated slideInDown mb-3">Retirement Planning</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="/home">Home</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Retirement Planning</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- RetirementPlanning Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 mb-4">
            <div class="col-lg-6 wow fadeInUp img-container" data-wow-delay="0.1s">
                <div class="img-border">
                    <img class="img-fluid" src="@Url.Content("~/img/offerings/RetirementPlanning.png")" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h6 class="section-title text-start text-primary pe-3 mt-4 mt-lg-0">Retirement Planning</h6>
                    <div class="section-title-line"></div>
                    <p>Retirement planning is one of the most important aspects of financial planning, ensuring that you are financially prepared for your post-retirement years. At Ratnesh Wealth Partners, we offer comprehensive retirement planning services that help you secure your financial future. Whether you are just starting your career or are close to retirement, it’s never too early or too late to start planning.</p>
                    <p class="mb-4">Our team will help you assess your current financial situation, estimate future retirement expenses, and design a tailored retirement plan to meet your specific needs. We provide a range of retirement savings options, including pension plans, annuities, and individual retirement accounts, to ensure that you have a steady income during your retirement years. Our retirement planning services also include tax-efficient strategies, so you can maximize your retirement savings while minimizing tax liabilities.</p>
                    <p class="mb-4">We help you set clear goals for retirement, whether you aim to maintain your current lifestyle or live more comfortably. With our strategic approach, we ensure that you are on track to accumulate the necessary funds to support your retirement goals. Whether you prefer to manage your investments independently or would like ongoing support, Ratnesh Wealth Partners offers the flexibility and expertise to guide you through the retirement planning process.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- RetirementPlanning End -->