@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tax Planning";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-4 text-white animated slideInDown mb-3">Tax Planning</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="/home">Home</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Tax Planning</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- TaxPlanning Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 mb-4">
            <div class="col-lg-6 wow fadeInUp img-container" data-wow-delay="0.1s">
                <div class="img-border">
                    <img class="img-fluid border-1 border-secondary" style="border-style: solid" src="@Url.Content("~/img/offerings/tax-planning.png")" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h6 class="section-title bg-white text-start text-primary pe-3 mt-4 mt-lg-0">Tax Planning</h6>
                    <div class="section-title-line"></div>
                    <p>Tax planning is an essential part of any effective financial strategy. By optimizing your tax situation, you can retain more of your hard-earned money and achieve your financial goals more efficiently. At Ratnesh Wealth Partners, we offer expert tax planning services that help you reduce your tax liability and make the most of available tax-saving opportunities.</p>
                    <p class="mb-4">Our team works closely with you to understand your financial situation and identify potential tax-saving avenues, such as investing in tax-advantaged accounts, tax-efficient investments, and other strategies designed to minimize your tax burden. Whether you're an individual investor, a business owner, or a high-net-worth individual, we provide personalized tax planning services that are designed to meet your specific needs.</p>
                    <p class="mb-4">In addition to tax savings, we also help with tax compliance, ensuring that your tax returns are filed correctly and on time. We stay up to date with changes in tax laws and regulations to ensure that your tax strategy remains effective and compliant. At Ratnesh Wealth Partners, our goal is to help you manage your taxes in the most efficient way possible, freeing up more resources for your investments and long-term financial goals.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TaxPlanning End -->
